body {
  position: relative;
}

.win {
  background-color: rgba(0, 0, 0, 0.712);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 50;
  display: none;

  p {
    height: 100%;
    @include center;
    font-size: 5rem;
    letter-spacing: 8px;
    color: $color2;

    @media screen and (max-width: 480px) {
      font-size: 3rem;
    }
    @media screen and (max-width: 360px) {
      font-size: 2rem;
    }
  }
}